<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<!-- Chrome, Firefox OS and Opera Status Bar Color -->
<meta name="theme-color" content="#FFFFFF">
<!-- OpenGraph -->
<meta property="og:title" content="<%= pageMeta.title %>">
<% if (pageMeta.description.length > 0) { %>
<meta property="og:description" content="<%= pageMeta.descriptionPlain %>">
<% } %>
<meta property="og:type" content="blog">
<!-- Title -->
<title><%= pageMeta.title %></title>
<!-- Resource -->
<link rel="stylesheet" type="text/css" href="css/prism.css">
<link rel="stylesheet" type="text/css" href="css/SourceSansPro.css">
<link rel="stylesheet" type="text/css" href="css/layout.css">
<link rel="stylesheet" type="text/css" href="css/notion-color.css">
<link rel="stylesheet" type="text/css" href="css/theme.css">
<link rel="stylesheet" type="text/css" href="css/debug.css">
<link rel="stylesheet" type="text/css" href="css/notablog.css">